terraform-course/
local_action.txt
*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/mykey
**/mykey/
**/*.pub
/*.pub/
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
**/.terraform/